.search-box
	display block
	position absolute
	left 50%
	top 50%
	transform translate(-50%, -50%)
	box-shadow 0 3px 30px rgba(0, 0, 0, 0.1)
	border-radius 6px
	z-index 9
	max-width 575px
	width 40%
	background-color #fff
	
	&__title
		display block
		
	&__descr
		display block
		margin-top 7px
		font-size 12px
		line-height 18px
		opacity 0.6
	
	input
		display inline-block
		padding 15px 25px
		font-size 22px
		border-radius 6px
		width 100%
		border 0
		border-bottom 1px solid rgba(102, 102, 102, 0.1)
		border-bottom-left-radius 0
		border-bottom-right-radius 0
	
	ul
		display block
		overflow auto
		max-height 400px
		
		li
			display block
			padding 15px 25px
			font-size 18px
			cursor pointer
			
			&:hover
				background-color #fbfbfb